@import "@fontsource-variable/jetbrains-mono";
@import "tailwindcss";
@custom-variant dark (&:is(.dark, .dark *));
@plugin "@tailwindcss/typography";

body {
    font-family: "JetBrains Mono Variable", monospace;
    font-variant-ligatures: none;
}

header a {
    text-decoration: none;
}

a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.prose code::before {
    content: "" !important;
}

.prose code::after {
    content: "" !important;
}
